<head>

	<title>ASLAN USSAYEV | Web Developer</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="assets/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Aslan Ussayev</h1>
					<h2>Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><!-- <a id="pdf" href="#"> --> <%= link_to "Go Home Page", root_path, id: "pdf" %></a></h3>
						<h3><a href="mailto:usprof77@gmail.com">usprof77@gmail.com</a></h3>
						<h3> (708)-586-7470</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								I am a software developer who is extremely enthusiastic about fast-paced web development and building products with solid foundations. I strive for high attention to detail even with short timelines. Incomplete or non-reusable solutions are my personal nemesis. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Deployment and Platforms</h2>
									<p>Heroku, Amazon Web Services (EC2, SES, SNS) OS X, Windows and Linux/Unix	
									</p>
								</div>

								<div class="talent">
									<h2>Interface Design</h2>
									<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>XHTML</li>
								<li>CSS</li>
								<li class="last">Javascript</li>
							</ul>

							<ul class="talent">
								<li>Jquery</li>
								<li>Ruby on Rails</li>
								<li class="last">CVS / Subversion</li>
							</ul>

							<ul class="talent">
								<li>OS X</li>
								<li>Windows XP/Vista</li>
								<li class="last">Linux</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Twitter Clone</h2>
								<h3>Full Stack Developer</h3>
								<h6>Copyright © 2015  Aslan Ussayev</h6>
								<p>I have developed(from scratch) a professional-grade application and deployed to Heroku.This application includes examples of all the major features of Rails, including models, views, controllers, templates, partials, filters, validations, callbacks, has_many/belongs_to and has_many :through associations, security, testing, and deployment. Basically It’s a Twitter Clone: you can create your own profile, Tweet comments(short 140-character messages) with photos, follow/unfollow others e.t.c I have build the app without using any gems for user authentication. I went through all the steps involved in adding validation, building different models (user, micropost and session), creating partials, adding AJAX, bootstrap, passing information between different classses and handling errors. I used Git, GitHub, Heroku, branching and testing from the beginning to the end. You can interact with this app here at: https://desolate-shelf-5833.herokuapp.com </p>
							</div>

							<div class="job">
								<h2>Online Notebook</h2>
								<h3>Full Stack Developer</h3>
								<h6>Copyright © 2015  Aslan Ussayev</h6>
								<p>I've built an online Notebook web application. I spent a bit more time on design and it was well worth it. The design came out pretty beautiful :) About the application: It's fairly simple, it has users and notes. Unlike previous applications where it was more social,in this app, a user can only see the notes that they create and no one else's. You are very welcome to interact with it here at : https://infinite-reef-5403.herokuapp.com </p>
							</div>

							<div class="job">
								<h2>Dev Match</h2>
								<h3>Full Stack Developer</h3>
								<h6>Copyright © 2015  Aslan Ussayev</h6>
								<p>I have experience building a Rails application from front to back. It has features found in sites like Facebook and Dropbox such as user profiles, sending messages, uploading files, and the ability to accept credit card payments and setup subscriptions. The app supports e-commerce functionality with Stripe that I integrated from scratch - my users can sign up for free or pay a monthly fee and automatically get billed via recurring charges. I also integrated the Sendgrid API to give the application the ability to send out email notifications and I’ve deployed the application to live Heroku servers. You are welcome to interact with it here: http://frozen-forest-5738.herokuapp.com </p>
							</div>


							<div class="job last">
								<h2>Blog</h2>
								<h3>Full Stack Developer</h3>
								<h6>Copyright © 2015  Aslan Ussayev</h6>
								<p>This is a simple blog, where I can create posts (as well as edit and delete them/log in and log out).Visitors can comment on posts. View the Demo application here at: https://sleepy-beach-8871.herokuapp.com.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Kazakh National University </h2>
							<h3>Bachelors of Business Management/International Hotel and Tourism Management (BBusMan/BIHTM)  June  2010 Almaty, Kazakhstan 
							 </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Aslan Ussayev &mdash; <a href="mailto:usprof77@gmail.com">usprof77@gmail.com</a> &mdash; (708)-586-7470</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


<!-- </body>
</html> -->

